<% provide(:title, 'Home') %>
<div class="jumbotron">
	<div class="container center">
		
	<h1>welcome to the railstutorial</h1>
	<h2>this is the homepage for the <a href="#">Ruby on Rails Tutorial</a> sample application</h2>
	<%= link_to "Sign up now!", "#", class:"btn btn-lg btn-primary" %>
	</div>
</div>

