<% provide(:title, @user.name) %>
<div class="row">
	<div class="col-sm-4">
		<aside>
			<%= gravatar_for @user %>
		</aside>
	</div>
	<div class="col-sm-1">	
		<%= current_user.name %>
	</div>
</div>